@model BookTest1MVC.Models.LendBook

@{
    ViewData["Title"] = "Lend";
}

<h1>Borrow</h1>

<h4>Borrow Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="BookInfoes" asp-action="proc_BorrowOrder_Lend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookID" />
            <div class="form-group">
                <label asp-for="EstimatedReturnTime" class="control-label"></label>
                <input asp-for="EstimatedReturnTime" class="form-control" />
                <span asp-validation-for="EstimatedReturnTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Borrow" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
